<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        #app {
            text-align: left;
        }

        img {
            width: 30%;
            margin: auto;
            display: block;
            margin-bottom: 10px;
        }


        .select {
            width: 100%;
        }

        form {
            margin-top: 0%
        }
    </style>

    <%- include('../partials/head'); %>
</head>

<body class="container">

    <div id="app">

        <%- include('../partials/navBar'); %>

            <el-card class="box-card" style="margin-top: 3% !important;">
                <div slot="header" class="clearfix">
                    <h2>Cadastro de Usuário</h2>
                </div>

                <el-form id="form" ref="form" :model="form" label-width="120px" method="POST" action="/usuario/">
                    <el-form-item label="Nome">
                        <el-input v-model="form.nome" name="nome"></el-input>
                    </el-form-item>
                    <el-form-item label="Email">
                        <el-input v-model="form.email"></el-input>
                    </el-form-item>

                    <el-form-item label="Senha" prop="pass">
                        <el-input type="password" v-model="form.senha" name="senha" autocomplete="off">
                        </el-input>
                    </el-form-item>

                    <el-form-item label="Função">
                        <el-select class="select" v-model="form.funcao" name="funcao" placeholder="Select">
                            <el-option v-for="item in options" :key="item.value" :label="item.label"
                                :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="primary" @click="onSubmit(form)">Create</el-button>
                        <el-button>Cancel</el-button>
                    </el-form-item>
                </el-form>

            </el-card>


    </div>

</body>

<%- include('../partials/footer'); %>
    <script src="//unpkg.com/vue/dist/vue.js"></script>
    <script src="//unpkg.com/element-ui@2.15.3/lib/index.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                form: {
                    nome: '',
                    email: '',
                    senha: '',
                    funcao: '',
                },
                options: [{
                    value: 'financeiro',
                    label: 'Financeiro'
                }, {
                    value: 'diretores',
                    label: 'Diretores'
                }, {
                    value: 'consultor',
                    label: 'Consultores'
                }, {
                    value: 'suporte',
                    label: 'Suporte'
                }, {
                    value: 'revertimento ',
                    label: 'Revertimento'
                }],
                /*nome: 'a',
                email: 'b',
                senha: 'c',
                value: 'financeiro',
                
                value: ''*/

            },
            methods: {
                enviar(nome, email, senha, funcao) {
                    console.log(nome);

                    //document.getElementById("form").submit();
                },
                onSubmit(form) {

                    let url = "/usuario/" + form.nome + "/" + form.email + "/" + form.senha + "/" + form.funcao;

                    console.log(url);

                    fetch(url).then(
                        function (resp) {
                            resp.json().then(function (jsonQ) {
                                console.log(url);
                                console.log(jsonQ.json);

                                if (jsonQ.json == "Enviado") {
                                    alert("Funcionario " + form.nome + " cadastrado com sucesso!", "Cadastro");
                                    window.location.reload();
                                }

                            });
                        });


                }
            }
        })
    </script>

</html>